

.highlight {
    background-color: #282828;
    padding: 7px 7px 7px 10px;
    overflow: auto;
    font-size: 95%;
    color: #ebdbb2;
}

code {
    font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
    color: #ebdbb2;
}

.highlighter-rouge {
    background-color: #3c3836;
    color: #fb4934;
    font-size: 16px;
}

figure.highlight {
  background-color: #282828; /* match your dark background */
  color: #ebdbb2;
  padding: 7px 10px;
  border-radius: 5px;
  overflow: auto;
}

/* Optional: remove white background on table rows inside code */
figure.highlight table {
  background-color: transparent;
}

.highlight .hll {
  background-color: #504945;
}
.highlight { background: #282828; color: #ebdbb2; }

.highlight .c,
.highlight .ch,
.highlight .cm,
.highlight .cp,
.highlight .cpf,
.highlight .c1,
.highlight .cs { color: #928374; font-style: italic; }

.highlight .err,
.highlight .gr,
.highlight .gd { color: #fb4934; }

.highlight .k,
.highlight .kr,
.highlight .kp,
.highlight .kt,
.highlight .kc,
.highlight .kn { color: #83a598; }

.highlight .l,
.highlight .ld,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il { color: #d3869b; }

.highlight .s,
.highlight .sa,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss { color: #fabd2f; }

.highlight .na,
.highlight .nf,
.highlight .nc,
.highlight .fm { color: #b8bb26; }

.highlight .nb,
.highlight .bp,
.highlight .nl,
.highlight .nn,
.highlight .nt,
.highlight .py,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm { color: #8ec07c; }

.highlight .o,
.highlight .ow,
.highlight .p { color: #fe8019; }

.highlight .ge { text-decoration: underline; }
.highlight .gs,
.highlight .gh,
.highlight .gi,
.highlight .gu { font-weight: bold; }

.highlight .go { color: #665c54; }
